extends base

//- Sidebar mixin
mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      // Sidebar
      nav.user-view__menu
        ul.side-nav
          +navItem('/me', 'Settings', 'settings', activePage === 'settings')
          +navItem('/my-tours', 'My bookings', 'briefcase', activePage === 'bookings')
          +navItem('/account/reviews', 'My reviews', 'star', activePage === 'reviews')
          +navItem('/account/billing', 'Billing', 'credit-card', activePage === 'billing')

        - if (user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('/admin/manage-tours', 'Manage tours', 'map', activePage === 'manage-tours')
              +navItem('/admin/manage-users', 'Manage users', 'users', activePage === 'manage-users')
              +navItem('/admin/manage-reviews', 'Manage reviews', 'star', activePage === 'manage-reviews')
              +navItem('/admin/manage-bookings', 'Manage bookings', 'briefcase', activePage === 'manage-bookings')

      // Main content
      .user-view__content
        h2.heading-secondary.ma-bt-md.admin-heading Manage Bookings
        if bookings.length
          table
            thead
              tr
                th User
                th Tour
                th Price
                th Paid
            tbody
              each booking in bookings
                tr
                  td= booking.user.name
                  td= booking.tour.name
                  td $#{booking.price}
                  td= booking.paid ? 'Yes' : 'No'
        else
          p No bookings found.
